body {
    background-color: #e7f5ff ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
}
h1 {
    text-align: center;
    color: #1971c2;
} 
nav {
    background-color: #f5fbff ;
}
h3 {
    text-align: center;
    color:#135592
}
p {
    text-align: center;
    color:#135592;
    font-size:large;
}